<div class="bg-light mb-4 px-3 py-2 shadow">
  <h2 class="text-center font-wight-bold"><%= product.title %></h2>
  <hr>
  <% if product.images.attached? %>

    <% product.images.each do |image| %>
      <%= image_tag image, class: 'bg-white img-thumbnail rounded mx-auto img-fluid shadow m-3' %>
    <% end %>
  <% else %>
    <%= image_tag 'no-image.png', class: 'bg-white img-thumbnail rounded mx-auto d-block img-fluid shadow m-3' %>
  <% end %>

  <p><%= product.description %></p>
  <h3>Cost: <%= product.cost %></h3>
  <h4>Sell by: <%= product.user.name %></h4>
  <%= link_to 'Edit', edit_product_url(product), class: 'btn btn-primary btn-block' if policy(product).edit? %>


    <% if send_contact?(product) %>
      <p class="text-warning">Order send, please wait for the seller's response</p>
    <% else %>

      <% if current_user != product.user %>
      <div id="<%= product.id %>">
        <%= link_to "I am interested", contact_path(product), method: :post, remote: true, class: 'btn btn-success btn-block' %>
      </div>
      <% end %>
    <% end %>

  <%= link_to 'Delete', product_path(product), method: :delete,
              data: {confirm: 'Are you sure?'}, class: 'text-danger' if policy(product).destroy? %>

</div>
